.page.theme_dark {
  --text-color: #f1b2ce;
  --title-color: #ff0070;
  --subtitle-bgc: #ff0070;
  --subtitle-color: #000028;
  --accent-color: #db00ff;
  --btn-hover-color: #ff007066;
  --page-bgc: var(--subtitle-color, #000028);
  --text-size: 18px;
  --bg-image: url(../images/cover-image-dark.png);
  --visibility: visible;
}

@media (prefers-color-scheme: dark) {
  :root {
    --text-color: #f1b2ce;
    --title-color: #ff0070;
    --subtitle-bgc: #ff0070;
    --subtitle-color: #000028;
    --accent-color: #db00ff;
    --btn-hover-color: #ff007066;
    --page-bgc: var(--subtitle-color, #000028);
    --text-size: 18px;
    --bg-image: url(../images/cover-image-dark.png);
    --visibility: visible;
  }
}
