.page.theme_light {
  --text-color: #353430;
  --title-color: #353430;
  --subtitle-bgc: #ff8dcb;
  --subtitle-color: #353430;
  --accent-color: #ffc2e6;
  --btn-hover-color: #32312d66;
  --page-bgc: var(--subtitle-color, #fff1f7);
  --text-size: 18px;
  --bg-image: url(../images/cover-image-light.png);
  --visibility: hidden;
}

@media (prefers-color-scheme: light) {
  :root {
    --text-color: #353430;
    --title-color: #353430;
    --subtitle-bgc: #ff8dcb;
    --subtitle-color: #353430;
    --accent-color: #ffc2e6;
    --btn-hover-color: #32312d66;
    --page-bgc: var(--subtitle-color, #fff1f7);
    --text-size: 18px;
    --bg-image: url(../images/cover-image-light.png);
    --visibility: hidden;
  }
}
